.review_comment {
    position: relative;
    margin: 2em 0 2em 40px;
    margin-right: 600px;
    padding: 8px 15px;
    background: #fff0c6;
    border-radius: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:20px;
}